@media only screen and (max-width:991px) {
.navbar-toggler {
    line-height: 1;
    padding: 0;
    border-radius: 0;
}
.navbar-toggler.menu-icon {
    width: 40px;
    padding:0;
    cursor: pointer;
    position: relative;
    border:0px;
}
.navbar-toggler.menu-icon span {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #005DBA;
    margin: 6px 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.navbar-toggler.menu-icon.active span {
    position: absolute;
    top: calc(50% - 8px);
}
.navbar-toggler.menu-icon.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: none;
} 

.navbar-light .navbar-brand {
    width:75%;
}

.navbar-light .navbar-brand img {
    max-height: 100px;
}

.header .topbar {
    display: block !important;
}

.header .navbar-area {
    display: none !important;
}

.header {
    padding: 10px 5px;
}

.header .topbar {
    padding: 0px 20px !important;
}

.header .topbar a {
    padding-left: 0px;
    color: #f5f5f5;
    font-size: 18px;
    display: inline-block;
    margin-top: 25px;
}

.header .topbar a i {
    color: #f5f5f5;
}

.header .rightside {
    padding-right: 5px;
}

.header .topbar a.logo {
    margin-top: 0;
    margin-right: 0px;
    text-align: center;
}

.header .topbar a.logo  img {
    max-height: 75px;
}

}

@media only screen and (max-width:767px) {
section {
    overflow: hidden;
}

.banner {
}

.banner .content {
    margin-top: .5px;
    padding: 50px 15px 20px 15px;
}

.banner h1 {
    font-size: 40px;
}

.banner .logo {
    max-height: 99px;
    margin-bottom: 25px;
    display: inline-block;
}

.banner p.lg {
    font-size: 24px;
    line-height: 1.3;
}

.banner .img {
    height: 400px;
}

.small-info {
    padding: 20px 0px;
    background: #fff;
}

.small-info p {
    line-height: 1.3;
}

.about {
    padding: 0 15px 0 15px;
}

.about .section-title h2 {
    margin-top: 0px;
}

.about .left {
    padding: 0 12px 70px 12px;
}

.about .right {
    padding: 63px 47px 0px 0px;
    width: calc(100% - 24px);
    position: relative;
    left: 12px;
    margin-bottom: 50px;
}

.contact-box {
    width: 90%;
    margin: 0 auto;
}

.contact-box.blue {
    padding: 30px 20px;
    margin: 0px;
    width: 97%;
    margin: 0 auto;
}

.main-info .bg-title {
    padding: 10px 3px;
    background-image: linear-gradient(90deg, #2b355d 0, #d9d9d9 100%);
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 28px;
}

.icon-box {
    margin: 0px 74px;
}

.info-bar {
    padding: 25px 0px;
}

.info-bar h3 {
    margin-bottom: 20px;
}

.zones-servies hr {
    margin-bottom: 15px;
}

.zones-servies {
    padding: 60px 0px;
}

.imgstyle img {
    margin: 38.961px auto 0;
    max-width: 459px;
    max-width: 100%;
}

.faq {
    padding: 70px 0px;
}

.imgstyle {
    padding: 4px 50px 0px 0px;
    width: 96%;
    display: block;
    margin: 0 auto;
}

.faq h2 {
    font-size: 32px;
    margin-top: 45px;
    margin-bottom: 60px;
    line-height: 1.6;
}

.faq .accordion-item {
    margin-bottom: 10px;
}

.faq .accordion-header button {
    font-size: 24px;
}

.accordion-button:before {
    top: 20px;
    right: 26px;
}

.small-content-info p {
    margin-top: 0px;
}

.small-content-info {
    padding: 20px 0px;
}

.logos-info {
    text-align: center;
}

.logos-info .row {
    padding: 0px 15px;    
}

.logos-info .row>div {
    padding: 0;
}

.logos-info a {
    margin: 45px 0px;
}

.logos-info img {
    max-height: 40px;
    min-height: 0px;
    transition: all .3s;
}

.small-info.down p {
    font-size: 20px;
}

.footer a.logo {
    display: inline-block;
    margin-right: auto;
    float: left;
    width: 100%;
    text-align: left;
}

.footer h3 {
    font-size: 20px;
    margin-top: 25px;
}

.footer p {
    margin-bottom: 25px;
}

.footer p.lg {
    margin-bottom: 0px;
}

.footer .link {
    font-size: 14px;
    display: inline-block;
    margin-top: 7px;
}

.footer {
    padding: 80px 0px 70px 0px;
}

.footer .logo {
    left: 0px;
}

/**/
.page-banner .content {
    margin-top: 0px;
    padding: 66px 15px;
    min-height: initial;
}

.page-banner .content h1 {
    margin: 0;
    font-size: 40px;
}

.page-banner .img {
    display: none;
}

.info-bar.resident {
    text-align: center;
}

.main-img-info {
    padding: 40px 0px 15px 0px;
}

.main-img-info .section-title,.main-img-info.blue .section-title {
    padding: 20px 18px 40px 18px;
}

.main-img-info .section-title h2 {
    font-size: 28px;
}

.main-img-info .row>div {
    padding: 0px !important;
}

.imgstyle2 {
    padding: 0px 25px 25px 25px;
}

.main-img-info.blue  {
    padding-top: 60px;
}

.icon-box {
    margin: 20px 0px;
}

}

@media only screen and (min-width:768px) and (max-width:991px) {
.menu-btn div {
    width: 30px;
}

.menu-btn div span {
    margin: 6px 0px;
}

section {
    overflow: hidden;
}

.banner h1 {
    font-size: 29px;
}

.banner p.lg {
    font-size: 18px;
}

.banner p {
    font-size: 15px;
}

.contact-box h3 {
    font-size: 19px;
    margin-bottom: 25px;
}

p {
    font-size: 15px;
}

.imgstyle img {
    max-width: 100%;
}

.faq h2 {
    font-size: 24px;
}

.logos-info img {
    max-height: 78px;
    min-height: 64px;
}

.footer p {
    font-size: 12px;
}

.footer h3 {
    font-size: 18px;
}

.header.fixed {
    padding: 10px 5px;
}
}

@media only screen and (min-width:992px) and (max-width:1199px) {
.logos-info img {
    max-height: 78px;
    min-height: 64px;
}

.navbar-light .navbar-nav.rt .nav-link {
    line-height: 44px;
    min-width: 160px;
    font-size: 13px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0px 3px !important;
}

.navbar-light .navbar-nav .nav-link i {
    margin-right: 7px !important;
}


.imgstyle img {
    max-width: 100%;
}
}


@media only screen and (min-width:1200px) and (max-width:1399px) {
.logos-info img {
    max-height: 78px;
    min-height: 64px;
}

.header .rightside {
    padding-right: 0px;
}

.imgstyle img {
    max-width: 100%;
}


}

    





